/*
 *  AutoGEOmancy CSS
 *
 */


body { background: url(../img/bkgd.jpg) repeat;}            /* background tile */

#bkgd {                                                     /* App Title image */
    background: url(../img/title8.jpg) top left no-repeat;
}

header { 
    outline: none;
    height: 340px; 
    }

#mid-hdr {
    background: url(../img/paper5.png) top center no-repeat;    
    height: 340px; 
}



/*
 * Widgets in the header 
 */

#audio_toggle {
    margin-top: 20px;
    visibility: hidden;
}

#geoloc_btn {
    /* margin-top: 20px; */
    visibility: hidden;
}

#geoFigures {
    visibility: hidden;
    margin-top: 80px;
}


#shieldChart {
    visibility: hidden;                 /* initially hidden to hide loading ugliness */
    margin-top:25px;
}


/* http://stackoverflow.com/questions/6048913/in-html5-with-respect-to-tables-what-replaces-cellpadding-cellspacing-valign 
*/
.layoutTable {
    width: 100%;
    border: none;
    border-collapse:collapse;
    border-spacing: 0;
}

.layoutTable th, td {
    padding: 10px;
}


#ChartTable {                   /* lives within shieldChart */
    -webkit-border-radius: 4px;
    border-radius: 4px;

    /* prevents text selection*/
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    margin: 0 auto;  /* to center it in the div */
}


#ChartTable tr {
    height: 50px;
}

#ChartTable td {
    padding: 2px;
}


#currentlocation {
    margin-top:30px;
    text-align: center;
}

#suntimes {
    margin-top:5px;
    text-align: center;
}


#geoPlanets {               /* the Planet icons in the header */
    margin-top:20px;
    margin-left:0px;
}

#geoPlanets img {           /* The size of the planet images */
    width: 18px;
}


.figlist, .planetlist {
    display: block;
  /*  float: right; */
    left:0;
    position: relative;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.planetlist > li {
    float: left;
    margin-top: 7px;
    margin-bottom:7px;
    margin-right: 6px;
    margin-left:6px;
}

.figlist > li { 
    float: left;
    margin-top: 7px;
    margin-bottom:7px;
    margin-right: 0.4em;
    margin-left:0.4em;
}    


.timetable th {
    width : 80px;
    vertical-align: top;   
}

.timetable td {
    text-align:center;
    vertical-align: middle;
}

.timetable tr {
        height: 65px;   
}


.tabtable tr {
    vertical-align: top;
}




#castingInput {
    font-size: 11px;        /* the text in the input field, where you hit the space bar to cast */
    background: #eee0bd;
    display: none;
}



/*
 * COLORS
 */

a { color: #b5451d;} 





#appTitle { display: none; }        /* the h1 tag for indexing purposes */

.progress { margin-top: 7px;}       /* Progress bar position from top of page */

.container {
    outline: none;  /* get rid of outlines that are left behind when you click on a link or other element */
}



/*
 */


.hideIt { display: none; }          /* for hiding geolocation btn after its pressed */


/*
 * The TABS
 */
.tab-pane { height: 300px; }




#paper {    /* in the about tab */
    background: url(../img/paper.png) top left no-repeat;
    padding: 35px;
    margin:10px;
}

.accordion a {
    outline:none;
}

#interpts h5 {
    margin-top: 0px;
}

#interpts td {
    vertical-align: top;
    padding-left: 0px;
    padding-top: 0px;
}



textarea#questionBox {
    width: 680px;
    height: 60px;
    border: 2px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    background: #eee0bd;
}



/*
 */
.collapsible {
    -webkit-border-radius: 4px;
    border-radius: 4px; 

    /* prevents text selection*/
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.collpaseBtn {
    color: white;
}


.log-stats {                /* The log messages counts */
    display: block;
    float:right;
    width: 40px;
    padding-top:5px;
}




/* 
 * Visual Effects
 */




.gradient1 {            /* transparent left to white right */
    background: -moz-linear-gradient(45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImage-moz-transform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
}


.gradient3 {            /* transparent circular edges to white in middle */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 85%, rgba(255,255,255,0) 99%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(85%,rgba(255,255,255,0)), color-stop(99%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 99%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 99%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 99%); /* W3C */
    filter: progid:DXImage-moz-transform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient4 {
background: rgb(254,191,1); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(254,191,1,1) 0%, rgba(254,191,1,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(254,191,1,1)), color-stop(100%,rgba(254,191,1,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(254,191,1,1) 0%,rgba(254,191,1,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(254,191,1,1) 0%,rgba(254,191,1,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(254,191,1,1) 0%,rgba(254,191,1,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(254,191,1,1) 0%,rgba(254,191,1,1) 100%); /* W3C */
filter: progid:DXImage-moz-transform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.gradient5 {
background: rgb(234,239,181); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(234,239,181,1) 0%, rgba(225,233,160,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(234,239,181,1)), color-stop(100%,rgba(225,233,160,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(234,239,181,1) 0%,rgba(225,233,160,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(234,239,181,1) 0%,rgba(225,233,160,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(234,239,181,1) 0%,rgba(225,233,160,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(234,239,181,1) 0%,rgba(225,233,160,1) 100%); /* W3C */
filter: progid:DXImage-moz-transform.Microsoft.gradient( startColorstr='#eaefb5', endColorstr='#e1e9a0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}


.overEffect1 {
    outline: 1px dotted #a37321;
    outline-offset: 4px; /*Delete if you don't want an offset*/;
}




.-moz-transform1{
    -moz--moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -webkit--moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o--moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms--moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.blowUp120 {
    -moz--moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit--moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o--moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms--moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);    
}

.chartHover {
    -webkit-box-shadow:  1px 1px 3px 1px rgba(0, 0, 0, .3);
    box-shadow:  1px 1px 3px 1px rgba(0, 0, 0, .3);
}



/*  ********************************************************   */
